.main_menu div {
    border: 3px solid red;
    height: 100px;
    width: 200px;
    margin-bottom: -3px;
}
.menu_items {
   position: relative;
}

.menu_drop {
    position: absolute;
    left: 100%;
}