
div {
    width: 80%;
    height: 150px;
    margin: 5px auto;
    clip-path: polygon(100px 0%, calc(100% - 100px) 0%, 100% 50%, calc(100% - 100px) 100%, 100px 100%, 0% 50%);
}

div:nth-child(1) {
    background-color: red;
}
div:nth-child(2) {
    background-color: green;
}
div:nth-child(3) {
    background-color: yellow;
}
div:nth-child(4) {
    background-color: blue;
}
div:nth-child(5) {
    background-color: black;
}